body {
  font-family: 'Helvetica Neue', 'Arial Nova', Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #edecf9;
}

main {
  background-color: white;
  border-radius: 8px;
  margin: 2rem auto;
  padding: 2rem;
  max-width: 620px;
  box-shadow: 1px 1px 16px rgba(0, 0, 0, .02);
  box-sizing: border-box;
}

@media (max-width: 620px) {
  body {
    background-color: white;
  }

  main {
    margin: 0;
    padding: 1rem;
    box-shadow: none;
  }
}

.header {
  display: flex;
  align-items: center;
}

.header a {
  margin-left: .5rem;
}

.header a:first-of-type {
  margin-left: auto;
}

h1 {
  margin: 0;
}

.field {
  margin-top: 1rem;
}

.field-label {
  font-weight: bold;
  font-variant: small-caps;
  margin-bottom: .25rem;
}

ul {
  margin: 0;
  padding-left: 1rem;
}

.image-container {
  float: right;
  margin-top: 1rem;
}

.image-container img {
  display: block;
}
