{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'instruments/styles/style.css' %}">
    {% block head %}{% endblock %}
  </head>
  <body>
    <main>
      <div class="header">
        {% block breadcrumbs %}{% endblock %}
        <h1>{% block header %}{% endblock %}</h1>
        <div class="actions">
          {% block actions %}{% endblock %}
          {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}" id="logout">
              {% csrf_token %}
              <input type="hidden" value="/">
              <button type="submit">Log out</button>
            </form>
          {% elif request.resolver_match.url_name != "login" %}
            <a href="{% url 'login' %}?next={{ request.path|urlencode }}">Log in</a>
          {% endif %}
        </div>
      </div>
      <div class="body">
        {% block body %}{% endblock %}
      </div>
    </main>
    <footer>
      <a href="https://github.com/actris-cloudnet/instrumentdb/tree/v{{ INSTRUMENTS_VERSION }}">
        InstrumentDB {{ INSTRUMENTS_VERSION }}
      </a>
    </footer>
  </body>
</html>
