{% extends 'instruments/base.html' %}

{% load thumbnail %}

{% block title %}
  Instruments
{% endblock %}

{% block header %}
  Instruments
{% endblock %}

{% block actions %}
  {% if user.is_staff %}
    <a href="{% url 'admin:index' %}">Administration</a>
    <a href="{% url 'admin:instruments_instrument_add' %}">New instrument</a>
  {% endif %}
{% endblock %}

{% block body %}
  <div style="margin: 1rem 0; font-style: italic;">
    If your instrument is not included in the list, please <a href="https://docs.google.com/forms/d/e/1FAIpQLSeY4nvAah-K5xPfF-VMhDbmmY9lq7BbtTDKTT9BZMqT7tC7zA/viewform">fill this form</a>.
  </div>
  {% for location in locations %}
    {% if location.instruments %}
      <h2>{{ location.name }}</h2>
      <div class="instruments">
        {% for instrument in location.instruments %}
          <div class="instrument">
            {% thumbnail instrument.get_image "35x35" crop="center center" as image %}
              <img class="instrument-image" src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" alt="">
            {% empty %}
              <div class="instrument-image">?</div>
            {% endthumbnail %}
            <a href="{{ instrument.landing_page }}">{{ instrument.name }}</a>
            {% if not instrument.pid %}
              (draft)
            {% endif %}
            <br>
            {% if instrument.get_types %}
              {% for type in instrument.get_types %}
                {{ type }}
              {% endfor %}
            {% else %}
              <span style="color:gray">Unknown</span>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
{% endblock %}
