{% load thumbnail %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ instrument.name }}</title>
    <style>
      body {
        font-family: 'Helvetica Neue', 'Arial Nova', Helvetica, Arial, sans-serif;
        margin: 0;
        background-color: #eee;
      }
      main {
        background-color: white;
        border-radius: 8px;
        margin: 2rem auto;
        padding: 2rem;
        max-width: 600px;
        box-shadow: 1px 1px 16px rgba(0, 0, 0, .02);
        box-sizing: border-box;
      }
      @media (max-width: 600px) {
        body {
          background-color: white;
        }
        main {
          margin: 0;
          padding: 1rem;
          box-shadow: none;
        }
      }
      h1 {
        margin: 0;
      }
      .field {
        margin-top: 1rem;
      }
      .field-label {
        font-weight: bold;
        font-variant: small-caps;
        margin-bottom: .25rem;
      }
      img {
        float: right;
      }
    </style>
  </head>
  <body>
    <main>
      <a href="{% url 'instrument' instrument.uuid 'xml' %}" style="float:right">XML</a>
      <a href="{% url 'instrument' instrument.uuid 'json' %}" style="float:right;margin-right:.5rem">JSON</a>
      <a href="{% url 'admin:instruments_instrument_change' instrument.id %}" style="float:right;margin-right:.5rem">Edit</a>
      <h1>{{ instrument.name }}</h1>
      {% if instrument.image %}
        <a href="/media/{{ instrument.image }}" target="_blank">
          {% thumbnail instrument.image "150" as image %}
            <img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" alt="">
          {% endthumbnail %}
        </a>
      {% endif %}
      {% if instrument.pid %}
        <div class="field">
          <div class="field-label">PID</div>
          <a class="field-content" href={{ instrument.pid }}>
            {{ instrument.pid }}
          </a>
        </div>
      {% endif %}
      <div class="field">
        <div class="field-label">Owners</div>
        <div class="field-content">
          {% for owner in instrument.owners.all %}
            {{ owner.name }}
            {% if owner.ror_id %}(<a href="https://ror.org/{{ owner.ror_id }}" target="_blank">ROR</a>){% endif %}{% if not forloop.last %},{% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="field">
        <div class="field-label">Manufacturers</div>
        <div class="field-content">
          {% for manufacturer in instrument.model.manufacturers.all %}
            {{ manufacturer.name }}
            {% if manufacturer.ror_id %}(<a href="https://ror.org/{{ manufacturer.ror_id }}" target="_blank">ROR</a>){% endif %}{% if not forloop.last %},{% endif %}
          {% endfor %}
          </div>
      </div>
      <div class="field">
        <div class="field-label">Model name</div>
        <div class="field-content">{{ instrument.model.name }}</div>
      </div>
      {% if instrument.model.types.all %}
        <div class="field">
          <div class="field-label">Instrument types</div>
          <div class="field-content">
            {% for type in instrument.model.types.all %}
              {{ type.name }}{% if not forloop.last %},{% endif %}
            {% endfor %}
          </div>
        </div>
      {% endif %}
      {% if instrument.model.variables.all %}
        <div class="field">
          <div class="field-label">Measured variables</div>
          <div class="field-content">
            {% for variable in instrument.model.variables.all %}
              {{ variable.name }}{% if not forloop.last %},{% endif %}
            {% endfor %}
          </div>
        </div>
      {% endif %}
      {% if instrument.contact_person %}
        <div class="field">
          <div class="field-label">Contact</div>
          <div class="field-content">
            {{ instrument.contact_person.full_name }}
            (<a href="mailto:{{ instrument.contact_person.email_address }}">Email</a>{% if instrument.contact_person.orcid_id %}, <a href="https://orcid.org/{{ instrument.contact_person.orcid_id }}" target="_blank">ORCiD</a>{% endif %})
          </div>
        </div>
      {% endif %}
      {% if instrument.commission_date %}
        <div class="field">
          <div class="field-label">Commission date</div>
          <div class="field-content">{{ instrument.commission_date }}</div>
        </div>
      {% endif %}
      {% if instrument.decommission_date %}
        <div class="field">
          <div class="field-label">Decommission date</div>
          <div class="field-content">{{ instrument.decommission_date }}</div>
        </div>
      {% endif %}
      {% if instrument.description %}
        <div class="field">
          <div class="field-label">Description</div>
          <div class="field-content">{{ instrument.description }}</div>
        </div>
      {% endif %}
      {% if instrument.related_identifiers.all %}
        <div class="field">
          <div class="field-label">Related identifiers</div>
          <table class="field-content">
            <tbody>
              {% for item in instrument.related_identifiers.all %}
                <tr>
                  <th>{{ item.get_relation_type_display }}:</th>
                  <td>
                    {% if item.identifier_type == 'URL' %}
                      <a href="{{ item.identifier }}" target="_blank">{{ item.identifier }}</a>
                    {% else %}
                      {{ item.identifier }} ({{ item.get_identifier_type_display }})
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
      {% if instrument.alternate_identifiers.all %}
        <div class="field">
          <div class="field-label">Alternate identifiers</div>
          <table class="field-content">
            <tbody>
              {% for item in instrument.alternate_identifiers.all %}
                <tr>
                  <th>{{ item.get_identifier_type_display }}:</th>
                  <td>{{ item.identifier }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
    </main>
  </body>
</html>
