{% extends "instruments/base.html" %}

{% block title %}
  Log in
{% endblock %}

{% block header %}
  Log in
{% endblock %}

{% block body %}
  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.as_div }}
    <button type="submit">Login</button>
    <input type="hidden" name="next" value="{{ next }}">
  </form>
{% endblock %}
