{% extends 'instruments/base.html' %}

{% block title %}
  {{ instrument.name }} logbook
{% endblock %}

{% block body %}
  <main>
    <div class="header">
      <ul class="breadcrumbs" style="margin-right:auto">
        <li><a href="{% url 'index' %}">Instruments</a></li>
        <li><a href="{% url 'instrument' instrument_uuid=instrument.uuid %}">{{ instrument.name }}</a></li>
        <li><a href="{% url 'logbook:view' instrument_uuid=instrument.uuid %}">Log entries</a></li>
      </ul>
    </div>
    <h1 style="margin-top:.25rem">Delete entry?</h1>
    <form action="" method="post">
      {% csrf_token %}
      <div style="margin:1rem 0">
        <strong>{{ log_entry.created_at }}</strong>
        – {{ log_entry.author }}
        <br>
        {{ log_entry.content | linebreaks }}
      </div>
      <button type="submit">Delete</button>
    </form>
  </main>
{% endblock%}
