{% extends 'instruments/base.html' %}

{% block title %}
  {{ instrument.name }} logbook
{% endblock %}

{% block header %}
  Edit entry
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs">
    <li><a href="{% url 'index' %}">Instruments</a></li>
    <li><a href="{% url 'instrument' instrument_uuid=instrument.uuid %}">{{ instrument.name }}</a></li>
    <li><a href="{% url 'logbook:view' instrument_uuid=instrument.uuid %}">Logbook</a></li>
  </ul>
{% endblock %}

{% block body %}
  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_div }}
    <button type="submit">Save</button>
  </form>
{% endblock%}
